body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: #f3f3f3;
    margin-top: 2rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: center;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.ctrbtn {
    text-align: center;
}

.startbtn, .hsbtn {
    font-size: 30px;
    margin-top: 1rem;
}

.quizbtn {
    width: 70%;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 1rem;
}

.greentext {
    color: green;
}

.redtext {
    color: red;
}

#question, #choice, #result, #timer, #highscore {
    text-align: center;
    margin-bottom: 1rem;
}
#timer {
    font-weight: 500;
}

#question, #timer, #highscore {
    font-size: 25px;
}

#choice {
    font-size: 27px;
}

#result {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

ul {
    padding: 0;
    margin: 0;
}
/* animation CSS */

li:hover {
    color: royalblue;
    cursor: pointer;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1) !important; 
}

.delay-1qtr {
    animation-delay: .25s;
}

.delay-2qtr {
    animation-delay: .50s;
}